@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: #ffffff; }

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300; }

header {
  background: url("../image/hero.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed; }
  header .container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh; }
    header .container .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0rem 1rem; }
      header .container .nav-bar .logo {
        margin-top: 1.2rem; }
        header .container .nav-bar .logo img {
          width: 100px;
          height: 100px; }
      header .container .nav-bar .nav-menu {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        header .container .nav-bar .nav-menu li {
          list-style: none;
          display: inline-block;
          margin-left: 2.5rem; }
          header .container .nav-bar .nav-menu li a {
            text-decoration: none;
            padding: 0.5rem 0rem;
            text-transform: uppercase; }
    header .container .main-text {
      width: 100%;
      color: #555555;
      position: absolute;
      top: 50%;
      margin: auto; }
      header .container .main-text h1 {
        text-transform: uppercase;
        padding: 0rem 0.2rem;
        letter-spacing: 1px;
        word-spacing: 4px;
        text-align: center; }
