@import "style";
// pricing section
#price{
    min-height: 100%;
    padding-bottom: 3rem;
    .container{
        .row{
            .card{
                margin: 0rem 1rem;
            }
        }
    }
}

// work section 
#works{
    height: 100%;
}